@font-face {
    font-family: "Overpass-Bold";   /*Can be any text*/
    src: local("Overpass-Bold"),
      url("../fonts/Overpass-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Overpass-ExtraBold";   /*Can be any text*/
    src: local("Overpass-ExtraBold"),
      url("../fonts/Overpass-ExtraBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Overpass-Light";   /*Can be any text*/
    src: local("Overpass-Light"),
      url("../fonts/Overpass-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Overpass-Medium";   /*Can be any text*/
    src: local("Overpass-Medium"),
      url("../fonts/Overpass-Medium.ttf") format("truetype");
  }
  
  
  .App {
    text-align: center;
    background: linear-gradient(135deg, #0062ff, #da61ff, #3DC8D2 90%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .title{
    font-weight: bold !important;
    font-size: 36px;
    color : white;
    font-family: "Overpass-ExtraBold";
  
  }
  
  .LoginCage{
    justify-self: center;
    justify-content: center;
  }
  
  .sous-title {
    font-family: "Nunito";
    color : white;
  }
  
  a {
    color : rgba(86, 128, 233, 1);
    font-weight: bold !important;
    font-family: "Nunito";
    text-decoration: none !important;
  
  }
  
  .inputconnexion{
    width: 607px;
    height: 73px;
    border-radius: 50px;
    border : 0px;
    font-weight: bold;
    padding-left: 30px;
    font-size: 30px;
  }
  
  .inputconnexionbox{
    height: 100px;
    width: 73px;
    margin-top: 100px;
  
  }
  
  .Button {
    width: 552px;
    height: 76px;
    background-color: rgba(86, 128, 233, 1);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .ButtonText{
    color: white;
    font-size: 28px;
  }
  
  .line{
    width: 552px;
    height: 2px;
    background-color: rgba(200, 211, 249, 1);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .SocialButton{
    width: 120px;
    height: 80px;
    background-color: white !important;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    display: flex;
  }

  .inputinfo{
    width: 270px;
    height: 73px;
    border-radius: 50px;
    border : 0px;
    font-weight: bold;
    padding-left: 30px;
    font-size: 30px;

  }


  .divinputinfo{
    display: flex;
    justify-content: space-between;
  }