.container {
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

  }

.textinput {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    align-self: center;
}

.logincage{
    width: 70%;
    height: 70%;
    justify-content: space-around;

}


.touchableopacity{
    align-self: center;
    width: 50%;
    height: 30px;
    background-color: blue;
    border-radius: 10px;
    justify-content: center;
}